@tailwind base;
@tailwind components;
@tailwind utilities;

/*.disabled:hover {*/
/*  background-color: powderblue;*/
/*  transition: background-color .5s;*/
/*}*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-backface-visibility: hidden;
}
